*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    overflow: hidden;
    background: #21242b;
}

#mainscreen{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 6;
  
    color: white;
}

#mainscreen h1{
  font-size: 80px;
  font-family: 'Orbitron', sans-serif;
}

#mainscreen button{
   z-index: 1;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
  
    border-radius: 2rem;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    background-color: black;
    border: 2px solid rgb(255, 207, 51);
    color: white;
}

#mainscreen button:hover{
background-color: rgb(248, 220, 127);
border-radius: 4px solid black;
color:black ;
}
  
  .casio{
    margin-top:20px;
    margin-left: 25px;
    float:left;
    font-style: bold;
    font-weight: 700;
    font-family: 'Play', 'Russo One', sans-serif;
    font-size:1.4em;
    
    color: #acb4c1;
  
  }
  
  .tag{
    margin-top:60px;
    color:#ff7283;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-style: bold;
    font-size:1.3em;
  }
  
  .fx{
    font-size:1em;
     margin-top:20px;
    margin-right: 25px;
   color: #acb4c1;
    float:right;
    font-style:italic;
    
  }
  
  .form-control{
    text-align: center;
  }
  
  #display-box{
  
    padding: 5px;
    width: 322px;
   margin-top:5px;
    margin-bottom:30px;
    height:60px;
    font: 35px bold;
    text-align:right;
    border-radius: 5px;
    background:#b6d1c2;
    box-shadow: 0px 0px 40px #2b4753;
   
  }
  
  #calculator{
    width: 350px;
    height: 480px;
     margin: 50px auto;
    border: 1px solid #000000;
    background: #3a5872;
    box-shadow: 0px 0px 40px #000;
     border: 2px solid #4d5368;
      border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 4em;
    border-bottom-right-radius: 4em;
    padding-left: 12px;
  }
  
  
  
  
  .trigo-keys{
    width:45px;
    height:30px;
    font-size: .8em;
    color: #fff;
    margin:3px;
    background: #2b4753;
    border: 1px solid #1a2f38;
    border-radius: 5px;
    
  }
  
  .btn:hover{
    font-size: 1em;
    color: #fff;
    background: #2b4753;
    border: 1px solid #1a2f38;
    border-radius: 5px;
  }
  
  .btn:active{
    font-size: 1em;
    color: #fff;
    background: #2b4753;
    border: 1px solid #000;
    border-radius: 5px;
  }
  
  .keys{
    color: #fff;
    font-size: 1.1em;
    cursor: pointer;
    margin:2px;
    width: 58px;
    height: 40px; 
    
   border: 2px solid #4d5368;
      border-top-left-radius: .6em;
    border-top-right-radius: .6em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    background: #939ab4; 
  }
  
  .equal{
    width: 120px;
  }
  
  .del-ac{
    background: #c86e78;
  }